{%  extends 'base.html' %}

{% block content %}

<h1>this is the home page</h1>
<div style="max-width:100%;list-style:none; transition: none;overflow:hidden;width:500px;height:500px;">
    <div id="google-maps-canvas" style="height:100%; width:100%;max-width:100%;">
        <iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=Lái+Thiêu,+Thuận+An,+Bình+Dương,+Việt+Nam&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8">

        </iframe>
    </div>
    <a class="google-map-code-enabler" href="https://www.bootstrapskins.com/themes" id="authorize-map-data">premium bootstrap themes</a>
    <style>#google-maps-canvas .text-marker{}.map-generator{max-width: 100%; max-height: 100%; background: none;</style>
    </div>

{% endblock %}